
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
	justify-content: left;
	align-items: center;
    min-height: 100vh;
    background-image: url('images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background: solid red;
    padding-left: 200px;
}


.container{
    background-color: #ffffff;
	width: 370px;
    height: auto;
	padding: 20px 50px;
	box-sizing: border-box;
	border-radius: 20px;
}
.container h1{
    text-align: center;
    color: #6f01ff;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.container label{
    text-align: left;
    font-weight: bold;
    color: #242627;
    margin-bottom:20px;
}

#id_username{
    height: 45px;
	width: 100%;
    margin: 5px auto;
	padding: 0 15px;
	box-sizing: border-box;
	font-size: 15px;
    text-align: left;
	border: 1px solid rgb(24, 0, 110);
	outline: 0;
    transition: border 0.15s;
    border-radius: 10px;
    position: relative;
}

#id_username:hover{
    background-color: #ffffff;
    outline: 1px solid rgb(35, 0, 160);
}

#id_password {
    height: 45px;
	width: 100%;
    margin: 5px auto;
	padding: 0 15px;
	box-sizing: border-box;
	font-size: 15px;
    text-align: left;
	border: 1px solid rgb(35, 0, 160);
	outline: 0;
    transition: border 0.15s;
    border-radius: 10px;
    position: relative;
}

#id_password:hover {
    background-color: #ffffff;
    outline: 1px solid rgb(35, 0, 160);
}

#togglePassword{
    position: absolute;
    margin-top: 21px;
    margin-left: -30px;
    cursor: pointer;
}

.container form button{
    background: #5c3af3;
    display: block;
    margin: 20px auto;
    height: 40px;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
	border: none;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.container form button:hover{
    background-color: #4c00af;
}

.container h2{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

