/* colors
 #ED1C5B; light 
 #E20E4E; dark
*/

/* reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

/* wrapper atau menu atas */

.wrapper{ 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .wrapper .navbar{
    background: #fff;
    display: flex;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 5px gray;
    justify-content: space-between;
  }

.wrapper .navbar .left{
    display: flex;
    background: #2756b2;
    width: 200px;
    height: 100%;
    box-shadow: 0px 1px 5px #205eda;
    text-align: center;
    justify-content: center;
}

.wrapper .navbar .left .logo{
    width: 85%;
}

.wrapper .navbar .right{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 50px;
}

#usericon{
  width:40px;
  height:40px;
   border-radius: 50%;
    margin: 0px 10px;
    object-fit: cover;
    object-position: top;
    border: 1px solid grey;
}

.wrapper .navbar ul li {
    align-content: left;
    list-style: none;
    color: grey;
}

.wrapper .navbar ul li a:hover {
 color: #000000;
}

.wrapper .navbar ul li a{
  color: gray;
  }

  .wrapper .navbar .right ul li a{
    display: flex;
    align-items: center;
    height: auto;
  }
  
  

  .wrapper .navbar .right a{
    text-align: right;
  }
  
  .wrapper .navbar .right a span{
    font-size: 15px;
  }
  
  .wrapper .navbar .right ul li{
    position: relative;
  }
  
  .wrapper .navbar .right ul li .dropdown{
    position: absolute;
    top: 60px;
    width: 130px;
    right: 0;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding: 10px px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 7px;
    display: none;
  }
  
  #textprofile{
    margin-left: 5px;
    color: #000000;
  }

  #textsignout{
    margin-left: 5px;
    color: #000000;
  }

  .wrapper .navbar .right ul li .dropdown ul li a{
    padding: 10px 20px;
    border-radius: 7px;
    color: #000000;
  }

  #profilebox{
  box-shadow: 0 1px 3px -2px gray;

}

#profilebox:hover{
  font-weight: bold;
  border-radius: 7px;
    box-shadow: 0.5px 0.5px 5px rgb(173, 173, 173);
    transition: 0.4s;
}
  .wrapper .navbar .right ul li .dropdown ul li a:hover{
    font-weight: bold;
    color: #000000;
    box-shadow: 0.5px 0.5px 5px rgb(173, 173, 173);
    transition: 0.4s;
  }

  
  .wrapper .navbar .right ul li .dropdown .fas{
    margin-right: 10px;
  }
  
  .wrapper .navbar .right ul li .dropdown:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(70%);
    border: 10px solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
  
}

  
  .wrapper .navbar .right ul li.active .dropdown{
    display: block;
    transition: 0.4s;
}


  .wrapper .navbar .right ul li.active a #dropicon {
    color: #000000;
    transform: rotate(-180deg);
  }

/* Sidebar atau menu samping  */
  .sidebar{
    position: fixed;
    background: #2756b2;
    width: 200px;
    height: 100%;
    padding: 75px 0;
    top: 0;
    left: 0;
    z-index: 1;
}

 #kegiatan {
    display: flex;
    background-color: #899CC4;
    align-items: center;
    font-weight: bold;
    padding-left: 18px;
    border-radius: 5px;
}

.sidebar ul li {
    display: flex;
    height: 40px;
    width: auto;
    margin: 15px 10px;
    align-items: center;
}

.sidebar ul li:hover {
    display: flex;
    background-color: #899CC4;
    align-items: center;
    border-radius: 5px;
    padding-left: 18px;
    font-weight: bold;
    transition: 0.4s;
}


.sidebar ul li a{
    font-size: 15px;
    color: #ffffff;
    padding: 0 20px;

}
.sidebar ul li a:hover{
    color: #ffffff;
    font-weight: bold;
    transition: 0.4s;
}


/* Main Content atau menu utama  */

.main {
    width: 100%;
    height: 100%;
    padding-top: 105px;
    padding-left: 200px;
}

.main h1{
  margin-left: 100px;
    color: #2756b2;
    font-weight: bold;
    font-size: 30px;
    font-style: Poppins;
}

.main h2{
  margin-left: 100px;
  font-size: 15px;
}

.main h2 .sub{
  font-size: 15px;
  color: #777777;

}

.main h2 .subsub{
  font-size: 13px;
  color: #748CCC;
}

.main .container{
  max-width: fit-content;
  height: auto;
  padding: 25px 30px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px grey;
}

.main .container .atas {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.main .container .atas .kiri{
  margin-right: 25px;
}

.main .container .atas .kiri .hari{
 background-color: #FFF0F0;
 color: #F55050;
 padding: 5px 7px;
 height: 25px;
 width: auto;
 font-weight: bold;
  font-size: 15px;
 text-align: center;
 align-content: center;
 border-radius: 5px;
}

.main .container .atas .kiri h3{
  margin-top: 10px;
  font-size: 25px;
  text-transform: uppercase;
  color: #484848;
}


.main .container .atas .kiri h4{
  margin-top: 10px;
  font-size: 17px;
  color: #484848;
  display: flex;
  align-items: center;
}

.main .container .atas .kiri hr{
  width: 40px;
  height: 1px;
  margin: 0 15px;
  background-color: #D9D9D9;
}

.main .container .edit button{
  width: 70px;
  height: 30px;
  font-size: 15px;
  color: #2756b2;
  background-color: #ffffff;
  text-align: center;
  border-radius: 7px;
  border: solid 1px #2756b2;
  cursor: pointer;
}

.main .container select{
  width: 130px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-radius: 7px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}


#option1{
  background-color: #FD9F00;
}

#option2{
  background-color: #777777;
}

#option3{
  background-color: #6DAE43;
}

#data1 {
  display: none;
}

.main .container .Reschedule button{
  margin-top: 5px;
  width: 100%;
  height: 30px;
  font-size: 15px;
  color: #ffffff;
  background-color: #2756b2;
  text-align: center;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

h4 .sub{
  font-size: 12px;
  color: #484848;
}

.main .container .isi{
  margin: 20px 0;
  max-width: 750px;
  text-align: justify;
  color: #484848;
}

.main .container .isi label{
  font-weight: bold;
}


.main .container table{
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 10px;
  width: 100%;
  border-radius: 7px 7px 7px 7px;
  overflow: hidden;
  box-shadow: 0 1px 5px grey;
}

.main .container table thead tr{
background-color: #2756b2;
color:#ffffff;
text-align: left;

}

.main .container table th,
.main .container table td{
padding: 10px 20px;
min-width: 100%;
font-size: 15px;
height: 20px;
}

.main .container table tbody tr{
border-bottom: 1px solid #dddddd;
background-color: #ffffff;
}


.main .container table tbody tr:nth-of-type(even){
background-color: #f3f3f3;
}

.main .container table tbody tr:last-of-type{
border-bottom: 2px solid #2756b2;
}


.main .popup1{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  margin-top: 35px;
  margin-left: 100px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

label{
  font-size: 13px;
  color: #2D2F33;
  font-weight: bold;
}
.main .popup1 .content{
  padding: 30px 30px;
  height: auto;
  width: fit-content;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 7px;
  box-shadow: 1px 1px 3px grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(.25);
  opacity: 0;
  transition: all .5s .1s;
}

.judulatas{
  color: #202225;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#judulform{
  font-size: 15px;
}

thead .close{
  right: 0;
  top: 0;
  float: top;
  float: right;
  font-size: 30px;
  margin-left: 190px;
  margin-top: -15px;
}

.main .popup1 .content table tr td input{
  height: 30px;
  width: 300px;
  padding: 5px 10px;
  border: 1px solid #2756b2;
  border-radius: 7px;
  margin-top: 7px;
}

#des{
  height: 70px;
  width: 300px;
  padding: 5px 10px;
  border: 1px solid #2756b2;
  border-radius: 7px;
  margin-top: 7px;
}

#popup1:target {
  opacity: 1;
  visibility: visible;
}

#popup1:target .content{
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}


.main .popup2{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  margin-top: 35px;
  margin-left: 100px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.main .popup2 .content{
  padding: 30px 30px;
  height: auto;
  width: fit-content;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 7px;
  box-shadow: 1px 1px 3px grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(.25);
  opacity: 0;
  transition: all .5s .1s;
}


.main .popup2 .content table tr td input{
  height: 30px;
  width: 125px;
  padding: 5px 10px;
  border: 1px solid #2756b2;
  border-radius: 7px;
  margin-top: 7px;
}


#des2{
  height: 75px;
  width: 300px;
  padding: 5px 10px;
  border: 1px solid #2756b2;
  border-radius: 7px;
  margin-top: 7px;
}

#popup2:target {
  opacity: 1;
  visibility: visible;
}

#popup2:target .content{
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

#cancel {
  background-color: #ffffff;
  color: #2756b2;
  border: 1px solid #2756b2;
  border-radius: 5px;
  height: 30px;
  width: 55px;
  margin: 7px 0;
  font-size: 14px;
  cursor: pointer;
}


#add{
  color: #2962FF;
  border: none;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

#submit{
  background-color: #2756b2;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 55px;
  margin: 7px 0;
  font-size: 14px;
  cursor: pointer;
}

tfoot{
 float: right;
}